<h1>Create User Profile</h1>
<%= form_for @passenger do |f| %><br>
<%=f.label 'First Name'%><br>
<%=f.text_field :first_name %><br>
<%=f.label 'Last Name'%><br>
<%=f.text_field :last_name %><Br>
<%=f.submit%>
<% end %>